---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogCard from "../../components/BlogCard.astro";
import { getAllBlogItems } from "../../utils/getAllBlogItems";

const title = "Blog";
const description = "Latest articles";

const allPosts = await getAllBlogItems();
---

<BaseLayout
  title={title}
  description={description}
  permalink="/blog"
  current="blog"
>
  <div class="w-[42rem] m-auto">
    <h1>Blog</h1>
    {
      allPosts.map((post, index) => {
        return (
          <div>
            {index !== 0 && <hr />}
            <BlogCard post={post} />
          </div>
        );
      })
    }
  </div>
</BaseLayout>

<style>
  h2,
  .title,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    margin-right: 16px;
    font-size: 0.5em;
  }

  hr {
    margin: 60px auto;
  }
</style>
