<footer>
  &copy; {new Date().getFullYear()}
  <a href="/about" class="font-semibold">DINESHDB</a>. Illustration from
  <a
    href="https://icons8.com/illustrations"
    class="font-semibold"
    target="_blank"
    rel="noopener"
  >
    Ouch!
  </a>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: 0.8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
